<br>
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
<% if user_signed_in? %>
  <div class="container">
    <h1>Додати новий жанр</h1>
    <%= form_with(model: @genre, url: genres_path) do |form| %>
      <p>
        <%= form.label "Назва жанру" %><br>
        <%= form.text_field :title %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
  </div>
<% else %>
  <h1>Увійдіть до аккаунту!</h1>
<% end %>