<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
<% if user_signed_in? %>
<%= form_with(model: @author, url: authors_path) do |form| %>
  <div class="container">
    <br>
    <h1>Додати нового автора</h1>
    <p>
      <%= form.label :"Введіть ім'я:" %><br>
      <%= form.text_field :name %>
    </p>
    <br>
    <p>
      <%= form.submit 'Додати автора' %>
    </p>
  </div>
<% end %>
<% else %>
  <h1>Увійдіть до аккаунту!</h1>
<% end %>