<br>
<div class="container">
  <h1>Усі користувачі</h1>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Ім'я</th>
      <th>Email</th>
      <th>Місто</th>
      <th>Номер</th>
      <th>Посилання</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user[:id] %></td>
        <td><%= user[:name] %></td>
        <td><%= user[:email] %></td>
        <td><%= user[:city] %></td>
        <td><%= user[:phone_number] %></td>
        <td><%= link_to "Перейти", user_path(user) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
