<h1><%= @user.name %></h1>

<p>Email: <%= @user.email %></p>

<p>Number: <%= @user.city %></p>

<p>Age: <%= @user.phone_number %></p>

<%= link_to 'List user', users_path %>
<%= link_to 'Edit user', edit_user_registration_path%>
<%= button_to "Destroy this user", @user, method: :delete %>