<br>
<div class="container border border-dark border-2 rounded-3" style="--bs-border-opacity: .6;">
  <div class="row p-3 border-bottom border-dark border-2 text-center" style="--bs-border-opacity: .6;">
    <h1>Усі оголошення</h1>
    <h3><%= link_to 'Пошук', search_book_path %></h3>
  </div>
  <% @books.each do |book| %>
    <div class="row p-3 border-bottom border-dark border-2" style="--bs-border-opacity: .6;">
      <div class="col col-lg-2">
        <img src=<%= book.image.url %> width="150" height="200">
      </div>
      <div class="col text-left">
        <div class="row">
          <h3><%= link_to book.title, book %></h3>
        </div>
        <div class="row">
          <h5><%= book.descr %></h5>
        </div>
      </div>
      <div class="col col-lg-2">
        <h5><%= book.count_pages %> стор.</h5>
        <h4><%= book.status ? 'Віддаю' : 'Розшукую' %></h4>
        <h5>Автори книжки:</h5>
        <% book.authors.each do |author| %>
          <small>○ <%= author.name %> </small>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<br>
