<%= stylesheet_link_tag "dropdown" %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
 $(function(){
  $("#book_author_ids").select2();
 });
</script>

<br>
<div class="container">
  <% if user_signed_in? %>
    <h1>Створити нове оголошення</h1>

    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= form_with(model: @book, url: books_path) do |form| %>
      <div class="field">
        <%= form.label "Назва оголошення:" %><br>
        <%= form.text_field :title %>
      </div>

      <div class="field">
        <%= form.label "Опис оголошення:" %><br>
        <%= form.text_area :descr %>
      </div>

      <div class="field">
        <%= form.label "Кількість сторінок книги:" %><br>
        <%= form.number_field :count_pages %>
      </div>

      <div class="field">
        <%= form.label "Статус оголошення:" %>
        <%= form.select :status, [["Віддаю", "true"], ["Розшукую", "false"]] %>
      </div>

      <div class="field">
        <%= form.label :genre_id, 'Жанр:' %>
        <%= form.collection_select :genre_id, @genres, :id, :title %>
      </div>

      <%= form.hidden_field :user_id, value: current_user.id %>

      <div class="authors">
        <%= form.label :authors, 'Автори:' %>
        <br/>
        <div class="selected">
            <select name="book[author_ids][]" id="book_author_ids" multiple>
              <% @authors.each do |author| %>
                <option name="[]" value=<%= author.id %>><%= author.name %></option>
              <% end %>
            </select>
        </div>
      </div>

      <div class="field">
        <%= form.label :image, 'Add image' %>
        <%= form.file_field :image %>
      </div>

      <div class="actions">
        <%= form.submit "Створити оголошення" %>
      </div>
    <% end %>
  <% end %>
</div>
