<br>
<div class="container">
  <h2> Пошук </h2>
  <%= form_with url: "/search_book", method: "get" do |form| %>
    <div class="row">
      <div class="col-lg-3">
        <%= form.label "За точною назвою:" %>
      </div>
      <div class="col">
        <%= form.text_field :title %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <%= form.label "За кількістю сторінок:" %>
      </div>
      <div class="col">
        <%= form.number_field :count_pages %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <%= form.label "За типом оголошення:" %>
      </div>
      <div class="col">
        <%= form.select :status, [["Шукаю", "true"], ["Віддаю", "false"]], { include_blank: true } %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <%= form.label :genre_id, 'За жанром:' %>
      </div>
      <div class="col">
        <%= form.collection_select :genre_id, @genres, :id, :title, { include_blank: true } %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <%= form.label :author_id, 'За авторами:' %>
      </div>
      <div class="col">
        <%= form.collection_select :author_id, @authors, :id, :name, { include_blank: true } %>
      </div>
    </div>
    <%= form.button "Знайти" %>
  <% end %>
</div>

<br>
<div class="container border border-dark border-2 rounded-3" style="--bs-border-opacity: .6;">
  <% @result.each do |book| %>
    <div class="row p-3 border-bottom border-dark border-2" style="--bs-border-opacity: .6;">
      <div class="col col-lg-2">
        <img src=<%= book.image.url %> width="150" height="200">
      </div>
      <div class="col text-left">
        <div class="row">
          <h3><%= link_to book.title, book %></h3>
        </div>
        <div class="row">
          <h5><%= book.descr %></h5>
        </div>
      </div>
      <div class="col col-lg-2">
        <h5><%= book.count_pages %> стор.</h5>
        <h4><%= book.status ? 'Віддаю' : 'Розшукую' %></h4>
        <h5>Автори книжки:</h5>
        <% book.authors.each do |author| %>
          <small>○ <%= author.name %> </small>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<br>
