<h1>Deals</h1>
</p><%= link_to 'Back', home_path %></p>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Book count</th>
    <th>Genre count</th>
    <th>Link</th>
  </tr>
  </thead>
  <tbody>
  <% @deals.each do |deal| %>
    <tr>
      <td><%= deal.id %></td>
      <td><%= deal.address %></td>
      <td><%= deal.date %></td>
      <td><%= link_to "link", deal_path(deal) %></td>

    </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Deals', new_deal_path %>
