<h1>Palces</h1>
</p><%= link_to 'Back', home_path %></p>
<!--<ul>-->
  <%# @libraries.each do |library| %>
<!--    <li>-->
      <%#= link_to library.name, library_path(library) %>
<!--    </li>-->
  <%# end %>
<!--</ul>-->

<%#= form_tag libraries_path, method: :get do %>
<!--  <label for="sort_by">Sort by:</label>-->
  <%#= select_tag :sort_by, options_for_select(['', 'books_asc', 'books_desc']) %>
  <%#= submit_tag "Sort" %>
<%# end %>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Book count</th>
    <th>Genre count</th>
    <th>Link</th>
  </tr>
  </thead>
  <tbody>
  <% @places.each do |place| %>
    <tr>
      <td><%= place.id %></td>
      <td><%= place.name %></td>
      <td><%= link_to "link", place_path(place) %></td>

    </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Libraries', new_place_path %>
